/* Experience.css */

.header {
    padding-left: 2rem;
  }
  
  .section-subtext {
    font-size: 18px;
    color: #6c757d;
  }
  
  .section-headtext {
    font-size: 24px;
    font-weight: bold;
    color: #292929;
  }
  
  .timeline {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .resume-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 3px;
    gap: 1rem;
    width: 125px;
    height: 46px;
    border-radius: 10px;
    background-color: #333333;
    margin-top: 16px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .resume-button:hover {
    background-color: #6c757d;
    color: #292929;
  }
  
  .download-btn {
    width: 23px;
    height: 23px;
    object-fit: contain;
  }
  
  .text-dim {
    color: #6c757d;
  }
  
  .text-jetLight {
    color: #fff;
  }
  
  .text-taupe {
    color: rgba(225,225,255,0.6);
  }
  